<center><h1><%= t ".list_request" %></h1></center>
<div class="col-md-8 col-md-offset-1">
  <table>
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center"><%= t ".book_name" %></th>
        <th scope="col" class="text-center"><%= t ".request_at" %></th>
        <th scope="col" class="text-center"><%=  t ".status" %></th>
        <th scope="col" class="text-center">
          <%= link_to "+", new_request_path, class: "btn btn-success" %>
        </th>
      </tr>
    </thead>
    <tbody><%= render partial: "requests/request", collection: @requests, as: :request %></tbody>
  </table>
</div>
